.list__show
  %header.list__show--header
    %h1= @list.name
    - if @list.description
      %h4= @list.description
    - if @list.price_cap
      %h4= "Price cap: #{@list.price_cap}"

  %section.list__show--content
    - if @list.people.count < 3
      %p.infos--add-more There are not so many people in this list. Try adding more...
    - else
      - if @pool.count > 0
        %p.infos--description= raw "<span class='as-red'>#{@pool.count - 1}</span> #{'person'.pluralize(@pool.count - 1)} left in this pool."
        = link_to "Pick Someone!", list_pick_random_person_path(@list), class: 'btn pick'
        - unless !@picked_person
          .infos--result
            %h4= raw "You got <span class='as-red'>#{@picked_person.name}</span>."
            - if @list.price_cap
              %h5= "Remember, the price cap is set at #{@list.price_cap}."
            = image_tag('merry-xmas.jpg')
      - else
        %p.infos--add-more No one left in this pool. :(

    %h5.infos--share Share this link with other members in this list:
    %a.infos--share-url{href: request.original_url.split('?').first}
      = request.original_url.split('?').first

  %aside.list__show--sidebar
    %h3 People
    - if @list.people.empty?
      %p No one in this list yet.
    - else
      %ul
        = render @list.people.order("id")
    = render 'people/new', list: @list
